header{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-keto-pizza-073-1544039876.jpg?crop=0.668xw:1.00xh;0.233xw,0.00255xh&resize=768:*");
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    color:black;  
   }
header>div{
    text-align: center;
    padding-top: 200px;
   }
nav{
    position: fixed;
    width:100%;
    background-color:rgba(105,105,105, 0.6);
    }
ul{
      text-align:right;
    }
li{
      display:inline-block;
    }
nav>ul>li>a{
      display:block;
      padding:10px;
      margin-right:0px;
      text-transform:uppercase;
      color:black;
    }
nav>ul>li>a:hover{
        background: rgb(119,136,153);
        color:rgb(51,51,0);
        text-decoration:none;
    }
h1{
        font-family: Pacifico;
        font-size: 80px;
    }
header>div>h3{
        font-family: Dancing Script;
        font-weight: bold;
      }
#about{
    line-height: 30px;
    text-align: center;
}
h2{
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
}
#pizza>img{
    width: 100%;
    background-color: black;
}
#order{
    background-color: black;
    height:500px;
    width:40%;
    color:white;
    text-align: center;
    border: 1px solid black ;
    border-width: 10px;
    border-radius: 15px;
    padding-top:100px;
    padding-left:70px;
    padding-right:70px;
    margin-left: 400px;
}
section{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKB7wpfI7H9iDKjseXhSx62H_zLji1gKgJFw&usqp=CAU");
}
#numberofpizza{
    width: 100%;
    padding: 5px;
}
#delivery,#pick{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
}
#contacts{
    text-align: center;
    background-color:rgb(105,105,105);
    color: black;
}
