header{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-keto-pizza-073-1544039876.jpg?crop=0.668xw:1.00xh;0.233xw,0.00255xh&resize=768:*");
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    color:black;  
   }
header>div{
    text-align: center;
    padding-top: 200px;
   }
nav{
    width:100%;
    background-color:rgba(105,105,105, 0.6);
    }
ul{
      text-align:right;
    }
li{
      display:inline-block;
    }
nav>ul>li>a{
      display:block;
      padding:15px;
      margin-right:0;
      text-transform:uppercase;
      color:black;
    }
nav>ul>li>a:hover{
        background: rgb(119,136,153);
        color:rgb(51,51,0);
        text-decoration:none;
    }
h1{
        font-family: Pacifico;
        font-size: 80px;
    }
header>div>h3{
        font-family: Dancing Script;
        font-weight: bold;
      }
      