header{
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-keto-pizza-073-1544039876.jpg?crop=0.668xw:1.00xh;0.233xw,0.00255xh&resize=768:*");
    background-repeat: no-repeat;
    background-size: cover;
    height: 670px;
    color:black;  
  }
  header>div{
    text-align: center;
    padding-top: 200px;
  }